@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HKGrotesk Regular";
  src: url("../public/fonts/HKGrotesk-Regular.ttf");
}

@font-face {
  font-family: "HKGrotesk Bold";
  src: url("../public/fonts/HKGrotesk-Bold.ttf");
}

html, body, #root {
	height: 100%;
	font-family: 'HKGrotesk Regular';
}

.bold {
	font-family: 'HKGrotesk Bold';
}